<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Web Course project">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Netta Naveh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/landing_page.css">
    <title>Title</title>

</head>
<body>
    <div class="container">
        <header id="showcase">
            <h1>Welcome to Alexander Farm</h1>
        </header>
        <div class="content">The Alexander farm is an organic farm that advocates sustainable values and protects the environment in which it is located</div>
        <a href="http://localhost:8000/">landing page</a>
        <a href="http://localhost:8000/vegetables" class="btn">Start shop</a>
    </div>
</body>
</html>