doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='Web Course project')
  meta(name='keywords' content='HTML, CSS, JavaScript')
  meta(name='author' content='Netta Naveh')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='landing_page.css')
  script(src= '../index.js', defer='')
  title Title
.container
  header#showcase
    h1 Welcome to Alexander Farm
  .content
    | The Alexander farm is an organic farm that advocates sustainable values and protects the environment in which it is located
  //a(href='http://localhost:8080/') landing page
        // form(action='/InsertData_Vegtables', method='get', onsubmit='/InsertData_Vegtables')
  //form(action='/InsertData_Vegtables', method='get')
  //  button.load(type='submit') Insert Vegtables
  //form(action='/getAllVegetables', method='get')
  //  button.load(type='submit') get Vegtables
  a.btn(href='/vegetables') Start shop